.hero-section {
  background-color: #0a1f44;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  position: relative;
  min-height: calc(100vh - 80px);
  flex: 1;
}

.hero-content {
  max-width: 45%;
}

.hero-content h1 {
  font-size: 36px;
  line-height: 1.4;
}

.highlight-orange {
  color: #ffb703;
}

.highlight-blue {
  color: #4ea8de;
}

.hero-content p {
  margin: 20px 0;
  font-size: 16px;
  color: #e0e0e0;
}

.get-started-btn {
  background-color: #1976ff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.hero-image {
  position: relative;
}

.hero-image img {
  width: 400px;
}


.floating-box {
  position: absolute;
  top: -20px;
  left: -60px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  width: 130px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.floating-box img {
  width: 50px;
  margin-bottom: 5px;
}

.floating-box p {
  color: #0a1f44;
  font-weight: 500;
  font-size: 14px;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.jobs-section {
  background-color: #e6f0ff;
  text-align: center;
  padding: 100px 0;
  flex: 1;
}

.jobs-section h2 {
  color: #0a1f44;
  font-size: 28px;
  margin-bottom: 40px;
}

.job-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.job-card {
  background-color: #ffffff;
  width: 180px;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.job-card img {
  background-color: #e6f0ff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.job-card p {
  color: #0a1f44;
  font-weight: 500;
}

.homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

